{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "experimental": {
      "plugins": [
        ["@workflow/swc-plugin", { "mode": "client" }]
      ]
    }
  },
  "sourceMaps": true
}
