name: Lint

on:
  push:
    branches:
      - main
    tags:
      - "!*"
  pull_request:

concurrency:
  # Unique group for this workflow and branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.14.0

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "pnpm"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Check docs links
        run: pnpm run lint:links
        working-directory: docs

      - name: Check single quotes in code blocks
        run: pnpm run lint:quotes
        working-directory: docs

      - name: Check TypeScript syntax in examples
        run: pnpm run lint:ts-examples
        working-directory: docs
